<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Todo List</title>
        <link rel="stylesheet" href="app.css" type="text/css">
        <script src="jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>todo<span>list</span></h1>
            <h2>A simple todo list app built with node</h2>
        </header>

        <section class="form">
            <input id="todoInput" type="text" placeholder="Insert you task here..." >
        </section>

        <ul class="list">
        </ul>
        <script src="app.js"></script>
    </body>
</html>